@media (min-width: 500px) and (max-width: 800px){
	.background{
		background-image: url(../img/dawn.png);
    background-position: 50%;
    padding-top: 350px;
	}
  .kitten{
    background-image: url(../img/kitten-large.png);
    background-size: 70%;
    height: 100%;
  }
}
@media (min-width: 1px) and (max-width: 499px){
  .background{
    background-image: url(../img/night.jpg);
    background-position: 50%;
    padding-top: 50px;
  }
  .kitten{
    background-image: url(../img/kitten-small.png);
  }
}